.hamburger {
  display: none;
}

.nav-center {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .hamburger {
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .nav-center {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .grid-container {
    display: block;
    align-items: center;
  }

  .reservation {
    display: block;
  }
}