body {
  margin: 0;
  padding: 0;
  /* background-image: url(assets/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center top; */
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

li {
  margin: 1rem;
  padding: 0 1px;
  float: right;
  list-style: none;
}


a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(94, 91, 91);
}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);

}

/* selected link */
a:active {
  color: rgb(94, 91, 91);
}

.logo-shibuya img {
  width: 100px;
  position: fixed;
  margin: 10px 0 0 10px;
}

nav a {
  width: 100px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

header {
  font-family: 'Kalam', cursive;
  text-align: center;
  color: white;
  background-color: #1e1e1e;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

.reserve-now {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.reserve-now a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  padding: 15px;
  border: 2px solid #eb9653;
}

/* visited link */
.reserve-now a:visited {
  padding: 15px;
  margin: auto;
  border: 2px solid #eb9653;
  color: #eb9653;
}

/* mouse over link */
.reserve-now a:hover {
  color: #7d444f;
  padding: 15px;
  background-color: #eb9653;
}

/* selected link */
a:active {
  color: rgb(94, 91, 91);
}

section {
  margin: 0 16px;
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: space-around;
}